<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tarea</title>
</head>

<body>
    <h2>Editar Tarea: {{ tarea.nombre }} del Proyecto: {{ proyecto.nombre }}</h2>
    <form method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="{{ tarea.nombre }}" required><br>

        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion" required>{{ tarea.descripcion }}</textarea><br>

        <label for="fechavencimiento">Fecha de Vencimiento:</label>
        <input type="date" id="fechavencimiento" name="fechavencimiento" value="{{ tarea.fechavencimiento }}" required><br>

        <label for="miembroasignado">Asignar a:</label>
        <select id="miembroasignado" name="miembroasignado" required>
            {% for miembro in miembros %}
            <option value="{{ miembro._id }}" {% if miembro._id == tarea.miembroasignado %}selected{% endif %}>
                {{ miembro.nombre }} {{ miembro.apellido }}
            </option>
            {% endfor %}
        </select><br>

        <label for="estado">Estado:</label>
        <select id="estado" name="estado" required>
            <option value="Por iniciar" {% if tarea.estado == 'Por iniciar' %}selected{% endif %}>Por iniciar</option>
            <option value="En progreso" {% if tarea.estado == 'En progreso' %}selected{% endif %}>En progreso</option>
            <option value="Completado" {% if tarea.estado == 'Completado' %}selected{% endif %}>Completado</option>
        </select><br>

        <button type="submit">Actualizar Tarea</button>
    </form>
    <br>
    <a href="{{ url_for('ver_todas_las_tareas') }}">Volver a Tareas</a>
</body>

</html>
