<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Proyecto</title>
</head>
<body>
    <h2>Editar Proyecto</h2>
    <form method="POST">
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre" value="{{ proyecto.nombre }}" required><br>
        <label for="descripcion">Descripción:</label><br>
        <input type="text" id="descripcion" name="descripcion" value="{{ proyecto.descripcion }}" required><br>
        <label for="fechainicio">Fecha de Inicio:</label><br>
        <input type="date" id="fechainicio" name="fechainicio" value="{{ proyecto.fechainicio }}" required><br>
        <label for="fechafinal">Fecha de Finalización:</label><br>
        <input type="date" id="fechafinal" name="fechafinal" value="{{ proyecto.fechafinal }}" required><br>
        <label for="estado">Estado:</label><br>
        <select id="estado" name="estado" required>
            <option value="Por iniciar" {% if proyecto.estado == 'Por iniciar' %} selected {% endif %}>Por iniciar</option>
            <option value="En proceso" {% if proyecto.estado == 'En proceso' %} selected {% endif %}>En proceso</option>
            <option value="Completado" {% if proyecto.estado == 'Completado' %} selected {% endif %}>Completado</option>
        </select><br>
        <input type="submit" value="Guardar Cambios">
    </form>
</body>
</html>
